.project__projects {
    display: felx;
    flex-direction: column;
    margin-left: 2rem;
    margin-right: 2rem;
}

.project__projects-heading {
    width: 100%;
    text-align: left;

    margin-bottom: 1rem;
}

.project__projects-heading h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 52px;
    letter-spacing: -0.04em;
    margin-left: 2rem;
}

.project__projects-container_group {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0rem;
}

@media screen and (max-width: 990px) {
    .project__projects-container_group {
        grid-template-columns: repeat(2, 1fr);
        margin: 2rem 0;
    }

    .project__projects-container_group .project__projects-container_repo {
        width: 50%;
    }
}

@media screen and (max-width: 700px) {
    .project__projects-container_group {
        grid-template-columns: repeat(1, 1fr);        
    }

    .project__projects-container_group .project__projects-container_repo {
        width: 50%;
    }
 }