.project__repo-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 2rem;
    margin: 2rem;
    border-radius: 1rem;
    background: var(--gradient-bar)
}

.project__repo-container h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.04em;
    color: #fff;

}

.project__repo-container p { 
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
}