
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Montserrat', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #ff8a47 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #ff8a47 99.55%);
  
  --color-bg: #040C18;
  --color-text: #81c4dd;
  --color-subtext: #ff8a47;
}